@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Root */

:root {
  --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
}

/* Header Styling */

.header {
  display: flex;
  padding: 1%;
  max-height: 100px;
}

.header .left,
.header .right,
.header .center {
  width: 33.333%;
}

.navBtn {
  margin: 20px;
  border: none;
  background: rgba(255, 255, 255, 0);
  z-index: 10;
  position: relative;
}

.navBtn div {
  background: #000;
  border-radius: 3px;
  height: 3px;
  transform: none;
  transform-origin: left;
  transition: transform 500ms cubic-bezier(0, 0.61, 0.28, 0.92);
  width: 32px;
  margin-top: 8px;
  transform-origin: center;
  box-shadow: 0px 0px 5px white;
}

.header .center {
  font-family: "Caveat";
  font-size: 50px;
  width: 100%;
  text-align: center;
  background: rgb(13, 184, 255);
  background: linear-gradient(
    90deg,
    rgba(13, 184, 255, 1) 0%,
    rgba(243, 50, 255, 1) 25%,
    rgba(60, 255, 83, 1) 50%,
    rgba(57, 174, 255, 1) 75%,
    rgba(137, 39, 143, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Caveat";
  background-size: 300%;
  animation: bg-animation 1s infinite;
}

.header .center img {
  width: 25%;
  position: relative;
  z-index: 2;
  }

/* 205, 64, 143 */
/* 9, 79, 195 */

.fullscreenNav {
  opacity: 0;
  height: 0px;
  padding: 0px;
  overflow: hidden;
  transition: all 0.3s ease 0.15s;
  background: linear-gradient(
    90deg,
    rgba(205, 64, 143, 1),
    rgba(9, 79, 195, 1)
  );
  width: 100vw;
  margin: -100px 0px;
  z-index: 9;
  position: relative;
}

.navLinks {
  font-size: 80px;
  font-family: "Roboto", sans-serif;
}

.navLinks a h1 {
  margin-top: 50px;
  width: max-content;
  position: relative;
}

.navLinks a h1:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 500ms ease-out;
}

.navLinks a h1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  25% {
    background-position: top;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: bottom;
  }
}

/*
* 3. banner styles
*/

[class*="banner-one__shape-"] {
  position: absolute;
  border-radius: 50%;
  -webkit-animation-name: bubbleMover;
  animation-name: bubbleMover;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Caveat";
}

.banner-one__shape-1 {
  background-image: linear-gradient(40deg, #0db8ff 0%, #f332ff 100%);
  -webkit-box-shadow: 0px 20px 60px 0px rgba(141, 142, 255, 0.8);
  box-shadow: 0px 20px 60px 0px rgba(141, 142, 255, 0.8);
  width: 143px;
  height: 143px;
  top: 5%;
  left: 3%;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-perspective: 150px;
  perspective: 150px;
}

.banner-one__shape-2 {
  background-image: linear-gradient(40deg, #39aeff 0%, #3cff53 100%);
  -webkit-box-shadow: 0px 20px 40px 0px rgba(58, 212, 173, 0.8);
  box-shadow: 0px 20px 40px 0px rgba(58, 212, 173, 0.8);
  width: 85px;
  height: 85px;
  top: 12%;
  left: 37%;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-perspective: 85px;
  perspective: 85px;
}

.banner-one__shape-3 {
  background-image: linear-gradient(40deg, #39aeff 0%, #3cff53 100%);
  -webkit-box-shadow: 0px 20px 40px 0px rgba(58, 212, 173, 0.8);
  box-shadow: 0px 20px 40px 0px rgba(58, 212, 173, 0.8);
  width: 85px;
  height: 85px;
  bottom: 12%;
  left: 6%;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-perspective: 85px;
  perspective: 85px;
}

.banner-one__shape-4 {
  background-image: linear-gradient(40deg, #0db8ff 0%, #f332ff 100%);
  -webkit-box-shadow: 0px 20px 60px 0px rgba(141, 142, 255, 0.8);
  box-shadow: 0px 20px 60px 0px rgba(141, 142, 255, 0.8);
  width: 85px;
  height: 85px;
  top: 20%;
  right: 4%;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-perspective: 85px;
  perspective: 85px;
}

.banner-one__shape-5 {
  background-image: linear-gradient(40deg, #0db8ff 0%, #f332ff 100%);
  -webkit-box-shadow: 0px 20px 60px 0px rgba(141, 142, 255, 0.8);
  box-shadow: 0px 20px 60px 0px rgba(141, 142, 255, 0.8);
  width: 85px;
  height: 85px;
  bottom: 20%;
  right: 4%;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-perspective: 85px;
  perspective: 85px;
}

@keyframes bubbleMover {
  0% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
    transform: translateY(0px) translateX(0) rotate(0);
    background-position: left;
  }
  30% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
    transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    background-position: top;
  }
  50% {
    -webkit-transform: translateY(50px) translateX(100px) rotate(45deg);
    transform: translateY(50px) translateX(100px) rotate(45deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    background-position: right;
  }
  80% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
    transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    background-position: bottom;
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
    transform: translateY(0px) translateX(0) rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
}


.banner-one {
  position: relative;
  background-image: url(../images/background/banner-bg-1-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.banner-one .container {
  padding-top: 350px;
  padding-bottom: 230px;
  position: relative;
  margin: 75px 360px
}
.banner-one__title {
  margin: 0;
  color: #2a2833;
  font-weight: 300;
  font-size: 90px;
  line-height: 1em;
  letter-spacing: -0.06em;
}
.banner-one__title span {
  font-weight: 500;
}
.banner-one__text {
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  color: #74727a;
  margin-top: 25px;
  margin-bottom: 40px;
}
.banner-one__btn {
  padding: 18px 55px;
}
.banner-one__moc {
  position: absolute;
  bottom: 7%;
  right: -30px;
}

.banner-one__btn {
  padding: 18px 55px;
}

.thm-btn {
  border: none;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #2a2833;
  padding: 13px 41px;
  border-radius: 5px;
  -webkit-transition: background 0.4s ease, color 0.4s ease;
  transition: background 0.4s ease, color 0.4s ease;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff4eb5),
    to(#ffa065)
  );
  background-image: linear-gradient(90deg, #ff4eb5 0%, #ffa065 100%);
  position: relative;
  z-index: 2;
}
.thm-btn:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.thm-btn span {
  position: relative;
}
.thm-btn:hover {
  color: #fff;
}
.thm-btn:hover:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}


.banner-one__moc:before {
  content: "";
  width: 639px;
  height: 639px;
  background-image: linear-gradient(40deg, #ff43c0 0%, #ffa95c 100%);
  -webkit-box-shadow: 0px 20px 60px 0px rgba(244, 151, 190, 0.8);
  box-shadow: 0px 20px 60px 0px rgba(244, 151, 190, 0.8);
  border-radius: 50%;
  background-size: 300%;
  position: absolute;
  top: -14%;
  left: -24%;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bg-animation;
  animation-name: bg-animation;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.banner-one__moc img {
  position: relative;
  -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
  animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
}


/*
* 15. cta styles
*/
.cta-one {
  padding: 165px 0;
  position: relative;
}
.cta-one__bg {
  position: absolute;
    bottom: 4%;
    left: 0;
    transform: scaleX(-1);
}
.cta-one .container {
  position: relative;
}
.cta-one .container:before {
  content: "";
  width: 448px;
  height: 448px;
  border-radius: 50%;
  background-color: #f6fff7;
  position: absolute;
  top: -19%;
  left: -12%;
}
.cta-one__moc {
  position: absolute;
  top: -45px;
  left: -10%;
  -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
  animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
}
.cta-one .block-title {
  margin-bottom: 0;
  margin-top: 30px;
  margin-bottom: 45px;
}
.cta-one .block-title__title {
  letter-spacing: -0.04em;
}
.cta-one__icon {
  font-size: 62px;
  color: #ff4eb5;
}
.cta-one__text p {
  margin: 0;
  color: #74727a;
  font-size: 24px;
  line-height: 40px;
}
.cta-one ul {
  margin: 0;
  margin-top: 45px;
  margin-bottom: 50px;
}
.cta-one ul li {
  position: relative;
  font-size: 16px;
  color: #74727a;
  padding-left: 30px;
}
.cta-one ul li + li {
  margin-top: 3px;
}
.cta-one ul li i {
  font-size: 18px;
  color: #ffa065;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cta-one .thm-btn {
  padding: 18px 55.5px;
}


.block-title__title {
  margin: 0;
  margin-top: -10px;
  font-size: 50px;
  font-weight: 400;
  color: #2a2833;
  line-height: 1.2em;
}
.block-title__title span {
  font-weight: 700;
}

.testimonials-one {
  background-color: #fff9ff;
  padding-top: 110px;
  padding-bottom: 160px;
  margin-top: 175px;
}
.testimonials-one .container {
  position: relative;
}
.testimonials-one__carousel {
  position: relative;
  padding: 2px;
  border-radius: 7px;
}
.testimonials-one__carousel:before {
  content: "";
  border-radius: 7px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ff4eb5),
    to(#ffa065)
  );
  background-image: linear-gradient(0deg, #ff4eb5 0%, #ffa065 100%);
}
.testimonials-one__carousel-outer {
  position: relative;
  width: 100%;
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 20px 60px 0px rgba(244, 151, 190, 0.3);
  box-shadow: 0px 20px 60px 0px rgba(244, 151, 190, 0.3);
}
.testimonials-one__carousel img {
  width: auto;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.testimonials-one__single {
  padding-top: 71px;
  padding-bottom: 71px;
  background-color: #fff;
  text-align: center;
  border-radius: 7px;
}
.testimonials-one__single h3,
.testimonials-one__single p,
.testimonials-one__single span {
  display: block;
  margin: 0;
}
.testimonials-one__single p {
  color: #74727a;
  font-size: 24px;
  line-height: 46px;
  font-weight: 300;
  margin-bottom: 35px;
}
.testimonials-one__single h3 {
  color: #2a2833;
  font-weight: 500;
  font-size: 24px;
  line-height: 1em;
  margin-bottom: 10px;
}
.testimonials-one__single span {
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.2em;
  color: #ff4eb5;
  text-transform: uppercase;
  margin-bottom: 25px;
}

[class*="testimonials-one__nav-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 61px;
  height: 61px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  color: #2a2833;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
[class*="testimonials-one__nav-"]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-image: linear-gradient(68deg, #ff4eb5 0%, #ffa065 100%);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
[class*="testimonials-one__nav-"] i {
  font-size: 22px;
  position: relative;
}
[class*="testimonials-one__nav-"]:hover {
  color: #fff;
  -webkit-box-shadow: 0px 20px 60px 0px rgba(244, 151, 190, 0.8);
  box-shadow: 0px 20px 60px 0px rgba(244, 151, 190, 0.8);
}
[class*="testimonials-one__nav-"]:hover:before {
  opacity: 1;
}

.testimonials-one__nav-left {
  right: calc(100% + 90px);
}

.testimonials-one__nav-right {
  left: calc(100% + 90px);
}

.testimonials-one__carousel__shape-one,
.testimonials-one__carousel__shape-two {
  width: 100%;
  height: 100%;
  background-color: #fff9ff;
  position: absolute;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-transform: scaleX(0.9);
  transform: scaleX(0.9);
  bottom: -20px;
  opacity: 0.2;
  border-radius: 7px;
  background-image: linear-gradient(68deg, #ff4eb5 0%, #ffa065 100%);
}
.testimonials-one__carousel__shape-one:after,
.testimonials-one__carousel__shape-two:after {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border-radius: 7px;
  background-color: #fff;
}

.testimonials-one__carousel__shape-two {
  -webkit-transform: scaleX(0.85);
  transform: scaleX(0.85);
  bottom: -40px;
}
